{% extends "progress_tracker/base.html" %}

{% block content %}
    <div class="container mt-4">
        <h1>{{ trainee.name }}'s Progress Details</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Week Number</th>
                    <th scope="col">Attendance %</th>
                    <th scope="col">Assignment %</th>
                    <th scope="col">Marks By Mentor</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Update</th>
                </tr>
            </thead>
            <tbody>
                {% for progress_report in progress_reports %}
                    <tr>
                        <td>{{ progress_report.week_number }}</td>
                        <td>{{ progress_report.attendance }}</td>
                        <td>{{ progress_report.assignment }}</td>
                        <td>{{ progress_report.marks }}</td>
                        <td>{{ progress_report.comments }}</td>
                        <td>
                            <a href="{% url 'progress_tracker:update_progress_report' pk=progress_report.pk %}" class="btn btn-primary">Update</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-flex" style="justify-content: center;">
        <a class="back-button" href="{% url 'progress_tracker:student_list' %}">Back to Student List</a>
    </div>
{% endblock %}
